@model IEnumerable<FruitSeller.Models.Contact>

@{
    ViewBag.Title = "ContactList";
}

<h2>Contact Record </h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contact1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Message)
        </th>
        <th>Delete </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contact1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Message)
        </td>
        <td>
          
            <h3 class="btn btn-warning">  @Html.ActionLink("Delete", "Delete", new { id = item.id })</h3>
        </td>
    </tr>
}

</table>


<hr/>

<a href="@Url.Action("Correct","Home")">Back to Dashboard </a>