@model IEnumerable<FruitSeller.Models.Employee>

@{
    ViewBag.Title = "EmployeeList";
}

<h2>EmployeeList</h2>

<p>
    @Html.ActionLink("Register New Employee ", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contact)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Designation)
        </th>
        <th>Edit </th>
        <th>Delete </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contact)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Designation)
        </td>
        <td>
            <h3 class="btn btn-warning"> @Html.ActionLink("Edit", "Edit", new { id = item.id }) </h3> </td>
        <td>
            
            <h3 class="btn btn-warning"> @Html.ActionLink("Delete", "Delete", new { id = item.id })</h3>
</td>
    </tr>
}

</table>


<hr/>

<a href="@Url.Action("Correct","Home")" class="btn btn-primary">Back to Dashboard </a>

